.contact__container{
    background:rgb(77, 102, 146);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}
.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form__name{
    display: flex;
    gap: 1.2rem;
}
.contact__form input[type="text"]{
    width: 50%;
}
input, textarea{
    width: 100%;
    padding: 1rem;
    background: rgb(140, 140, 232);
    color: var(--color-white);
}
.contact__form .btn{
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}